absl-py==2.1.0
ai-edge-litert==1.4.0
albucore==0.0.13
albumentations==1.4.10
anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1749054771823/work
annotated-types==0.7.0
anyio==4.3.0
appdirs==1.4.4
archspec @ file:///croot/archspec_1709217642129/work
argcomplete==3.6.2
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astor==0.8.1
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
attrs==25.1.0
azure-core==1.30.1
azure-storage-blob==12.19.1
babel==2.17.0
backports.strenum==1.2.8
beautifulsoup4==4.13.4
black==25.1.0
bleach==6.2.0
boltons @ file:///croot/boltons_1751383775419/work
boto3==1.34.88
botocore==1.34.88
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
cattrs==25.1.1
certifi==2024.2.2
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
coloredlogs==15.0.1
comm==0.2.2
conda @ file:///croot/conda_1749171252582/work/conda-src
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1751061994888/work
conda-anaconda-tos @ file:///croot/conda-anaconda-tos_1748537199219/work
conda-content-trust @ file:///croot/conda-content-trust_1714483159009/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1745607008911/work/src
conda-package-handling @ file:///croot/conda-package-handling_1731369017509/work
conda_package_streaming @ file:///croot/conda-package-streaming_1751307506088/work
contourpy==1.2.1
coremltools==8.3.0
cryptography==42.0.5
cycler==0.12.1
Cython==3.0.10
datamodel-code-generator==0.26.1
dbr==9.6.40.1
debugpy==1.8.15
decorator==5.1.1
decouple==0.0.7
defusedxml==0.7.1
distlib==0.3.9
distro @ file:///croot/distro_1714488253808/work
dnspython==2.6.1
easydict==1.13
email_validator==2.2.0
et_xmlfile==2.0.0
executing==2.2.0
Faker==37.4.2
falcon==3.1.3
fastapi==0.116.1
fastjsonschema==2.21.1
filelock==3.13.4
fire==0.6.0
flatbuffers==24.3.25
fonttools==4.51.0
fqdn==1.5.1
frozendict @ file:///croot/frozendict_1713194832637/work
fsspec==2024.3.1
gast==0.5.4
gdown==5.2.0
genson==1.3.0
glog==0.3.1
google-pasta==0.2.0
grpcio==1.62.2
h11==0.14.0
h5py==3.11.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.22.2
humanfriendly==10.0
identify==2.6.12
idna==3.7
ijson==3.4.0
imageio==2.34.1
imagesize==1.4.1
imgaug==0.4.0
imutils==0.5.4
inflect==5.6.2
ipykernel==6.29.5
ipython==9.4.0
ipython_pygments_lexers==1.1.1
isodate==0.6.1
isoduration==20.11.0
isort==5.13.2
jax==0.5.0
jaxlib==0.5.0
jedi==0.19.2
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.4.0
jsf==0.11.2
json5==0.12.0
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer==2.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter-events==0.12.0
jupyter-lsp==2.2.6
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keras==3.8.0
kiwisolver==1.4.5
label-studio-sdk==1.0.20
lang-trans==0.6.0
lark==1.2.2
lazy_loader==0.4
Levenshtein==0.25.1
libclang==18.1.1
libmambapy @ file:///croot/mamba-split_1734469461757/work/libmambapy
lightgbm==4.6.0
lmdb==1.4.1
lxml==6.0.0
Markdown==3.6
markdown-it-py @ file:///work/perseverance-python-buildout/croot/markdown-it-py_1698846045803/work
MarkupSafe==3.0.2
matplotlib==3.8.4
matplotlib-inline==0.1.7
mdurl @ file:///work/perseverance-python-buildout/croot/mdurl_1698845653285/work
mediapipe==0.10.21
menuinst @ file:///croot/menuinst_1750861706497/work
mistune==3.1.3
ml_dtypes==0.5.3
mpmath==1.3.0
msgpack==1.1.1
msgpack-numpy==0.4.8
mypy_extensions==1.1.0
namex==0.0.8
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
nodeenv==1.9.1
notebook==7.4.4
notebook_shim==0.2.4
numexpr==2.10.0
numpy==1.26.4
nvidia-nccl-cu12==2.27.7
onnx==1.17.0
onnx2tf==1.28.2
onnx_graphsurgeon==0.5.8
onnxruntime==1.20.1
onnxslim==0.1.63
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.9.0.80
opencv-rolling-ball==1.0.1
openpyxl==3.1.5
openvino==2024.6.0
openvino-telemetry==2024.5.0
opt-einsum==3.3.0
optree==0.11.0
overrides==7.7.0
packaging==24.0
paddleocr==2.9.1
paddlepaddle==2.6.1
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
PassportEye==2.2.2
pathspec==0.12.1
pdfminer==20191125
pexpect==4.9.0
pillow==11.3.0
pip==25.2
platformdirs==4.3.8
pluggy @ file:///croot/pluggy_1733169602837/work
pre_commit==4.2.0
prometheus_client==0.22.1
prompt_toolkit==3.0.51
protobuf==4.25.8
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyaml==25.7.0
PyArabic==0.6.15
pybind11==3.0.0
pyclipper==1.3.0.post5
pycosat @ file:///croot/pycosat_1736868416091/work
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.10.6
pydantic_core==2.27.2
Pygments @ file:///croot/pygments_1744664109463/work
PyJWT==2.10.1
pymongo==4.6.3
pyparsing==3.1.2
PySocks==1.7.1
pyspellchecker==0.8.1
pytesseract==0.3.10
python-dateutil==2.9.0.post0
python-docx==1.1.0
python-gflags==3.1.2
python-json-logger==3.3.0
pytz==2025.1
PyYAML==6.0.2
pyzbar==0.1.9
pyzmq==27.0.0
qrdet==2.5
qreader==3.16
quadrilateral-fitter==1.12
rapidfuzz==3.8.1
referencing==0.36.2
regex==2024.4.16
requests==2.31.0
requests-mock==1.12.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich @ file:///croot/rich_1732638981168/work
rpds-py==0.26.0
rstr==3.2.2
ruamel.yaml @ file:///croot/ruamel.yaml_1745960305322/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1745937152469/work
ruff==0.12.2
s3transfer==0.10.1
safetensors==0.4.3
scikit-image==0.23.2
scikit-learn==1.6.1
scipy==1.13.0
seaborn==0.13.2
Send2Trash==1.8.3
sentencepiece==0.2.0
sentry-sdk==2.20.0
setuptools==75.8.0
shapely==2.0.4
six==1.17.0
smart_open==7.3.0.post1
sng4onnx==1.0.4
sniffio==1.3.1
sounddevice==0.5.1
soupsieve==2.7
stack-data==0.6.3
starlette==0.47.3
sympy==1.14.0
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-serving-api==2.16.1
tensorpack==0.11
termcolor==2.4.0
terminado==0.18.1
tf_keras==2.19.0
tflite-support==0.1.0a1
threadpoolctl==3.5.0
tifffile==2024.4.18
tinycss2==1.4.0
tokenizers==0.19.1
tomli==2.2.1
tornado==6.5.1
tqdm==4.66.2
traitlets==5.14.3
transformers==4.40.0
truststore @ file:///croot/truststore_1736550121485/work
types-python-dateutil==2.9.0.20250708
typing-inspection @ file:///croot/typing-inspection_1746023470701/work
typing_extensions==4.12.2
tzdata==2025.1
ujson==5.10.0
ultralytics==8.3.94
ultralytics-thop==2.0.14
Unidecode==1.3.8
uri-template==1.3.0
urllib3==2.5.0
uvicorn==0.35.0
virtualenv==20.31.2
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
wheel==0.43.0
wrapt==1.16.0
xgboost==3.0.4
xmljson==0.2.1
zstandard @ file:///croot/zstandard_1731356346222/work
zxing-cpp==2.2.0
